<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img class="demo-bg" src="https://th.bing.com/th/id/OIP.pNxV9FiOmGAPfS8OLxkvmQHaE8?pid=ImgDet&rs=1" />
    @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger">
            <div class="container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li> @Html.ActionLink("menu", "menu", "MenuOrdinazioni", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("ordini attivi", "concludiordine", "MenuOrdinazioni", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("lista ordini", "listaord", "MenuOrdinazioni", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link btn" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (User.IsInRole("Admin"))
    { <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger">
            <div class="container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li> @Html.ActionLink("menu", "menu", "MenuOrdinazioni", new { area = "" }, new { @class = "navbar-brand" })</li>

                        <li>@Html.ActionLink("aggiungi una pizza", "creapizza", "AgiungieModificaPizza", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("lista ordini", "listaord", "MenuOrdinazioni", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link btn" })</li>
                    </ul>
                </div>
            </div>
        </nav>}
    else
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger">
            <div class="container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li> @Html.ActionLink("login", "login", "home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("registrazione", "signup", "home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>
            </div>
        </nav>}

    <div class="mt-2 mx-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>